   
 <!-- toast -->
 <!-- <div class="toast">
 
  <div class="toast-body">
   محصول به سبد خرید اضافه شد
  </div>
</div> -->

<div class="sectust" id="snackbar">محصول به سبد خرید اضافه شد</div>
<div class="wartust" id="snackbar2">این محصول قبلا به سبد خرید شما اضافه شده است</div>