<section class="banner">
  <div class="container relative grid grid-cols-12 gap-x-4 gap-y-2">
    <div class="col-span-12 lg:col-span-8">
      <!-- Swiper -->
      <div class="swiper banner-slider rounded-lg shadow-base">
        <div class="swiper-wrapper">
          <% 
          for(let b of banners){
            if(b.status == 'first'){
       %>
              <div class="swiper-slide">
            <a href="#">
              <img
                alt=""
                class="max-h-[450px]"
                src="images/baneer/<%= b.image %>"
              />
            </a>
          </div>
            <% }} %>
        
     
        </div>
        <div class="swiper-button-next hidden md:flex"></div>
        <div class="swiper-button-prev hidden md:flex"></div>
        <div class="swiper-pagination main-banner-pagination"></div>
      </div>
    </div>
    <div class="col-span-12 hidden xs:block lg:col-span-4">
      <div
        class="flex h-full flex-row justify-between gap-x-2 lg:flex-col"
      >
      
          <% for(let c of banners){
       
            if( c.status == "second" ){ %>
              <div>
              <a href="#">
            <img
              alt=""
              class="rounded-lg shadow-base"
              src="images/baneer/<%= c.image %>"
            />
          </a>
        </div>
            <%  }  }%>
        
       

    
            <% for(let d of banners){
         
            if( d.status == "third" ){ %>
              <div>
              <a href="#">
            <img
              alt=""
              class="rounded-lg shadow-base"
              src="images/baneer/<%= d.image %>"
            />
          </a>
        </div>
            <% break } }%>
      </div>
    </div>
  </div>
</section>