<section class="mb-8">
  <div class="container relative">
    <div
      class="flex flex-wrap items-center justify-center gap-8 lg:justify-between"
    >
      <!-- Category -->

      <a class='relative flex w-25 flex-col items-center justify-between gap-y-1.5 sm:w-auto sm:gap-y-2.5' href='/shop'>
        <div
          class="border-gradient group relative rounded-full p-px before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-full"
        >
          <img
            alt=""
            class="relative h-25 w-25 rounded-full"
            src="/images/vector/jorab.jpg"
          />
        </div>
        <p
          class="line-clamp-2 h-10 text-center text-sm text-zinc-700 dark:text-white sm:text-base"
        >
          جوراب مردانه
        </p>
      </a>
      <a class='relative flex w-25 flex-col items-center justify-between gap-y-1.5 sm:w-auto sm:gap-y-2.5' href='/shop'>
        <div
          class="border-gradient group relative rounded-full p-px before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-full"
        >
          <img
            alt=""
            class="relative h-25 w-25 rounded-full"
            src="/images/vector/hody.jpg"
          />
        </div>
        <p
          class="line-clamp-2 h-10 text-center text-sm text-zinc-700 dark:text-white sm:text-base"
        >
          هودی مردانه
        </p>
      </a>
      <a class='relative flex w-25 flex-col items-center justify-between gap-y-1.5 sm:w-auto sm:gap-y-2.5' href='/shop'>
        <div
          class="border-gradient group relative rounded-full p-px before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-full"
        >
          <img
            alt=""
            class="relative h-25 w-25 rounded-full"
            src="/images/vector/palto.jpg"
          />
        </div>
        <p
          class="line-clamp-2 h-10 text-center text-sm text-zinc-700 dark:text-white sm:text-base"
        >
          پالتو مردانه
        </p>
      </a>
      <a class='relative flex w-25 flex-col items-center justify-between gap-y-1.5 sm:w-auto sm:gap-y-2.5' href='/shop'>
        <div
          class="border-gradient group relative rounded-full p-px before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-full"
        >
          <img
            alt=""
            class="relative h-25 w-25 rounded-full"
            src="/images/vector/poloshort.jpg"
          />
        </div>
        <p
          class="line-clamp-2 h-10 text-center text-sm text-zinc-700 dark:text-white sm:text-base"
        >
          پولوشرت مردانه
        </p>
      </a>
      <a class='relative flex w-25 flex-col items-center justify-between gap-y-1.5 sm:w-auto sm:gap-y-2.5' href='/shop'>
        <div
          class="border-gradient group relative rounded-full p-px before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-full"
        >
          <img
            alt=""
            class="relative h-25 w-25 rounded-full"
            src="/images/vector/shalwark.jpg"
          />
        </div>
        <p
          class="line-clamp-2 h-10 text-center text-sm text-zinc-700 dark:text-white sm:text-base"
        >
          شلوارک مردانه
        </p>
      </a>
      <a class='relative flex w-25 flex-col items-center justify-between gap-y-1.5 sm:w-auto sm:gap-y-2.5' href='/shop'>
        <div
          class="border-gradient group relative rounded-full p-px before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-full"
        >
          <img
            alt=""
            class="relative h-25 w-25 rounded-full"
            src="/images/vector/kot.jpg"
          />
        </div>
        <p
          class="line-clamp-2 h-10 text-center text-sm text-zinc-700 dark:text-white sm:text-base"
        >
          کت و ست رسمی
        </p>
      </a>
    </div>
  </div>
</section>