<!doctype html>
<html dir="rtl" lang="fa">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>
    <%= pageTitle %>
  </title>

  <link href="../css/fonts.css" rel="stylesheet" />
  <link href="../css/swiper.min.css" rel="stylesheet" />
  <link href="../css/app.css" rel="stylesheet" />
  <link href="../css/theme.css" rel="stylesheet" />
  <script src="/socket.io/socket.io.min.js"></script>



  <!-- <link href="./assets/css/custom.css" rel="stylesheet" /> -->



  <!-- <script defer src="./assets/scripts/custom.js"></script> -->

  <script>
    // Set Theme from Localstorage at site load
    document.documentElement.classList.toggle(
      "dark",
      localStorage.getItem("theme") === "dark",
    );
  </script>
</head>

<body class="replace-digits">
  <%- body %>

  <script defer src="../js/shop.js"></script>
  <!-- <script defer src="../js/shoping.js"></script> -->
    <script>
      $('.replace-digits').replaceDigits();
    </script>
    <script defer src="../js/flowbite.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script defer src="../js/swiper.min.js"></script>
    <script defer src="../js/app.js"></script>
    <script defer src="../js/jQuery.persianNumbers-1.0.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/persianumber.js"></script>
    
   
    <script type="text/javascript">$(document).ready(function () { $('*').persiaNumber(); });</script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
      <!-- Include jQuery -->
      <script src="../js/jquery-3.6.4.min.js"></script>

</body>

</html>