<main class="backgrand">
  <div class="bg-login">
    <div class="logo">
      <img src="/images/logo/1.png" alt="" srcset="">
    </div>
    <div class="m-2 p-1   mx-auto text-center mt-5  btn-login dark:text-white row btn-vorod">
      <a class="column " href="/user/LoginPage"> ورود</a>

      <a class="column " href="/user/LoginPage">ثبت نام</a>
    </div>
    <%- include("./messageLogin.ejs") %>
      <form action="/user/loginUser" method="POST" class="mx-auto mt-5 text-center">
        <input type="text" name="phone" class="w-50 border-input p-2 text-right m-2" placeholder="شماره موبایل ">
        <input type="text" name="password" class="w-50 border-input p-2 text-right m-2" placeholder="کلمه عبور">
        <div class="form-group mx-auto text-center">
          <div class="checkbox mb-3">
            <label>
                <input name="remember" type="checkbox" value="remember-me" /> من را
                به خاطر بسپار
            </label>
        </div>
          <div
              class="g-recaptcha mx-auto text-center w-50" 
              data-sitekey="6LcZTVcpAAAAAIKHYaQ38IitsI7riMTN8IFncvBR"
          ></div>
      </div>
        <input type="submit" class="w-50 btn-sabt mt-5 p-2 text-right m-2" value="ورود">
      </form>
  </div>
</main>