<% if(message.length > 0) { %>
  <div class="alert alert-success alert-dismissible fade show message-box" role="alert">
      <%= message %>
      <button type="button" class="close text-white closebtn text-white" style="  background: none !important;
      float: left !important; border: none ; font-family: 'BYekan'" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  
  <% } %> <% if(error.length > 0) { %>
  <div class="alert alert-dismissible fade show text-white alert-error"   role="alert">
      <%= error %>
      <button type="button" class="close text-white"  style="  background: none !important;
      float: left !important; border: none ; font-family: 'BYekan'"  data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  
  <% } %>
  