

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(254 254 255 / var(--tw-bg-opacity));
  }
  .bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  .bg-zinc-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity));
  }
  
  :is(.dark .dark\:bg-zinc-900) {
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity));
  }
  :is(.dark .dark\:bg-black) {
    --tw-bg-opacity: 1;
    background-color: rgb(13 13 13 / var(--tw-bg-opacity));
  }
  .btn-primary,
  :is(.dark .sort-button-active) {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1
  }
  
  .btn-primary {
    align-items: center;
    justify-content: center;
    -moz-column-gap: .25rem;
    column-gap: .25rem;
    border-radius: .5rem;
    background-color: rgb(16 185 129/var(--tw-bg-opacity));
    color: rgb(254 254 255/var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s
  }
  
  .btn-primary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(5 150 105/var(--tw-bg-opacity))
  }
  
  .btn-primary:focus {
    outline: 2px solid #0000;
    outline-offset: 2px
  }
  
  .btn-primary:disabled {
    cursor: not-allowed;
    opacity: .6
  }
  
  :is(.dark .btn-primary) {
    --tw-bg-opacity: 1;
    background-color: rgb(5 150 105/var(--tw-bg-opacity))
  }
  
  :is(.dark .btn-primary:hover) {
    --tw-bg-opacity: 1;
    background-color: rgb(4 120 87/var(--tw-bg-opacity))
  }
  
  .btn-primary-nobg {
    align-items: center;
    justify-content: center;
    -moz-column-gap: .25rem;
    column-gap: .25rem;
    --tw-text-opacity: 1;
    color: rgb(16 185 129/var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s
  }
  
  .btn-primary-nobg:hover {
    --tw-text-opacity: 1;
    color: rgb(5 150 105/var(--tw-text-opacity))
  }
  
  .btn-primary-nobg:focus {
    outline: 2px solid #0000;
    outline-offset: 2px
  }
  
  .btn-primary-nobg:disabled {
    cursor: not-allowed;
    opacity: .6
  }
  
  :is(.dark .btn-primary-nobg) {
    --tw-text-opacity: 1;
    color: rgb(52 211 153/var(--tw-text-opacity))
  }
  
  :is(.dark .btn-primary-nobg:hover) {
    --tw-text-opacity: 1;
    color: rgb(110 231 183/var(--tw-text-opacity))
  }
  
  
  
  
  
  
  
  
  .btn-secondary {
    align-items: center;
    justify-content: center;
    -moz-column-gap: .25rem;
    column-gap: .25rem;
    border-radius: .5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(14 165 233/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(254 254 255/var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s
  }
  
  .btn-secondary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(2 132 199/var(--tw-bg-opacity))
  }
  
  .btn-secondary:focus {
    outline: 2px solid #0000;
    outline-offset: 2px
  }
  
  .btn-secondary:disabled {
    cursor: not-allowed;
    opacity: .6
  }
  
  :is(.dark .btn-secondary) {
    --tw-bg-opacity: 1;
    background-color: rgb(2 132 199/var(--tw-bg-opacity))
  }
  
  :is(.dark .btn-secondary:hover) {
    --tw-bg-opacity: 1;
    background-color: rgb(3 105 161/var(--tw-bg-opacity))
  }
  
  .btn-secondary-nobg {
    align-items: center;
    justify-content: center;
    -moz-column-gap: .25rem;
    column-gap: .25rem;
    --tw-text-opacity: 1;
    color: rgb(14 165 233/var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s
  }
  
  .btn-secondary-nobg:hover {
    --tw-text-opacity: 1;
    color: rgb(2 132 199/var(--tw-text-opacity))
  }
  
  .btn-secondary-nobg:focus {
    outline: 2px solid #0000;
    outline-offset: 2px
  }
  
  .btn-secondary-nobg:disabled {
    cursor: not-allowed;
    opacity: .6
  }
  
  :is(.dark .btn-secondary-nobg) {
    --tw-text-opacity: 1;
    color: rgb(56 189 248/var(--tw-text-opacity))
  }
  
  :is(.dark .btn-secondary-nobg:hover) {
    --tw-text-opacity: 1;
    color: rgb(125 211 252/var(--tw-text-opacity))
  }
  

  .image-pro{
    height: 200px !important;
    object-fit: cover;
  }

  .btn-login{
    border-bottom: 1px solid #78787822;
    font-size: 15px;
 
    margin-left: 10px;

}
.btn-login:hover{
  border-bottom: 1px solid #10b981;
}
.btn-login > a{
  padding: 6px;
  font-size: 15px;
}
.btn-login > a:hover{
  color: #10b981;
 animation-direction: alternate;
  animation-delay: 2s;

}

.bordleft{
  border-left: 1px solid #78787845;
  height: 50% !important;
  margin-top: 12px;

}

:is(.dark .dark\:bg-emerald-400\/50) {
  background-color: #54e6b000 !important;
}
.bg-emerald-500\/50 {
  background-color: #10b98100 !important;
}
.image-singel{
  width: 60%;

}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.w-100{
  width: 100%;
  display: block;
}
.p-5{
  padding: 15px !important;
}
.pr-2{
  padding-right: 15px !important;
}
.mb-0{
  margin-bottom: 0;
}

.backgrand{
  background-color: #f3f4f6;
  width: 100%;
  height: 100%;
}
.bg-login{
  width: 30%;
  height: 600px;
  background-color: #fefeff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.logo{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 25px !important;
}
.btn-vorod{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; 
  width: 40%;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.btn-vorod{
  margin-bottom: 10px;
  border: 1px solid #78787825;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.border-input{
  border-bottom: 1px solid #78787845;
}
.border-input:hover{
  border-bottom: 1px solid #10b981;
}
.border-input:focus{
  border: none;
  border: 1px solid #10b981 !important;
}

.btn-sabt{
  background-color: #10b981;
  color: #fdfdfd;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.btn-sabt:hover{
  background-color: #0ca270;
}
.alert-error{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  direction: rtl;
  background-color: #0ca270 !important;
}

.banner{
  margin-bottom: 5rem;
}
.message-box{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  color: #345609 !important;
  background-color: #fdfdfd;
}