<main class="backgrand">
  <div class="bg-login">
    <div class="logo">
      <img src="/images/logo/1.png" alt="" srcset="">
    </div>
    <div class="m-2 p-1   mx-auto text-center mt-5  dark:text-white">
     <span>کلمه عبور را برای حساب کاربری وارذ کنید</span>
     </div>
     <form action="/user/addUser" method="POST" class="mx-auto mt-5 text-center">
      <input type="text" name="CAPCHA_NUM" class="w-50 border-input p-2 text-right m-2" placeholder="کد دریافت شده  ">
      <input type="submit" class="w-50 btn-sabt mt-5 p-2 text-right m-2" value="ورود">
     </form>
  </div>
  </main>